.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('simple_form.titles.sign_up')

  .form-group.mb-30
    = general_simple_form_for @form, url: inventory_analysis_path, method: :patch do |field|

      .form-group.mbz-30
        = field.input :data, as: :file

      .form-group.mbz-30
        = field.input :delivery_cost

      .form-group.mbz-30
        = field.input :warehous_cost

      .form-group.mbz-30
        = field.input :reserves

      .form-group.mbz-30
        = field.input :delivery_days

      .text-center
        = field.button :submit, 'Create',class: 'btn btn-default mb-20'
