.general-order-wrap
  .row
    .col-sm-4
      .input-group.general-input-group
        = field.simple_fields_for :coupon, @coupon_form do |coupon|
          = coupon.input :code, coupon_options(coupon)
      .mb-30
        = field.submit t('corzinus.carts.update_cart'),
          class: 'btn btn-primary mb-15 res-block'

    .col-sm-8
      .res-mr-200.text-center.general-text-right
        = render 'corzinus/orders/result_panel', components: [:coupon], right: true

.center-block.general-text-align
  = field.submit t('corzinus.carts.checkout'), name: :to_checkout,
    class: 'button btn btn-default mb-20'
