.address-fields
  = field.hidden_field :address_type, value: type

  - [:first_name, :last_name, :name, :city, :zip].each do |name|
    .form-group
      = field.input name, input_html: { id: "#{name}_#{type}_address" }

  .form-group
    = field.input :country_id, collection: countries_options(@countries),
      include_blank: t('simple_form.placeholders.address.country'),
      input_html: { id: "country_id_#{type}_address", class: 'select-country' }

  .form-group
    = field.input :phone, input_html: { id: "phone_#{type}_address",
      class: 'address-phone' }
