.container
  = render 'step_nav'

  %h3.corzinus-subtitle= t('corzinus.checkouts.delivery.title')

  .visible-xs.mb-40
    = form_tag checkout_path, class: 'delivery_form', method: :patch do
      = render 'corzinus/deliveries/deliveries_xs', deliveries: current_order.access_deliveries

  = form_tag checkout_path, class: 'delivery_form', method: :patch do
    .hidden-xs.mb-res-50
      = render 'corzinus/deliveries/deliveries_md', deliveries: current_order.access_deliveries

    = render 'corzinus/orders/result_panel'

    .col-md-12.mb-40
      .center-block.corzinus-text-align.center
        = submit_tag t('simple_form.titles.save_and_continue'),
          class: 'button btn btn-default mb-20'
