.container.mb-res-50
  = render 'step_nav'

  %h3.corzinus-subtitle= t('corzinus.checkouts.payment.title')

  = simple_form_for current_order, url: checkout_path,
    html: { class: 'mb-80', id: 'credit_card_form' } do |field|

    .max-600.mb-80
      = field.simple_fields_for :credit_card, @payment_form do |item_field|
        = render 'corzinus/credit_cards/fields', field: item_field

    = render 'corzinus/orders/result_panel'

    .col-md-12.mb-40
      .center-block.corzinus-text-align.center
        = field.submit t('simple_form.titles.save_and_continue'),
          class: 'button btn btn-default mb-20'
