%table.table.table-hover
  %thead
    %tr
      %th.col-method
        %span.in-grey-600.ml-40= t('corzinus.carts.edit.method')
      %th
        %span.in-grey-600= t('corzinus.checkouts.delivery.days').mb_chars.capitalize.to_s
      %th
        %span.in-grey-600= t('corzinus.carts.edit.price')

  %tbody
  - deliveries.decorate.each do |delivery|
    %tr.delivery-item
      %td
        .form-group.radio.mt-0.mb-0
          = render 'corzinus/deliveries/delivery_checkbox', delivery: delivery
      %td
        %span= delivery.duration
      %td
        %span.font-16.in-gold-500.delivery-cost= currency_price(delivery.price)
