- order.addresses.each do |address|
  .col-sm-3
    = render 'corzinus/addresses/panel', address: address, edit: local_assigns[:edit]

.col-sm-3
  %h3.corzinus-subtitle= t('corzinus.checkouts.confirm.shipments')
  %p.corzinus-address
    = order.delivery.name
    - if local_assigns[:edit]
      %span.corzinus-edit= link_to t('edit'), checkout_path(:delivery)
    %br
    = order.delivery.decorate.duration

.col-sm-3
  %h3.corzinus-subtitle= t('corzinus.checkouts.confirm.payment')
  %p.corzinus-address
    = order.credit_card.decorate.hidden_number
    - if local_assigns[:edit]
      %span.corzinus-edit= link_to t('corzinus.checkouts.confirm.edit'), checkout_path(:payment)
    %br
    = order.credit_card.month_year
