- order ||= current_order
- components ||= [:coupon, :delivery]

%div{ class: "#{'corzinus-text-align mb-60' unless local_assigns[:right]}" }
  %p.in-gold-500.font-18= t('corzinus.carts.order_summary')
  %table.corzinus-summary-table{ class: "#{'corzinus-summary-table-right corzinus-text-right' if local_assigns[:right]}" }
    %tbody
      %tr
        %td
          %p.font-16= "#{t('corzinus.carts.sub_total')}:"
        %td
          %p.font-16= currency_price(order.sub_total)

      - components.each do |component|
        %tr
          %td
            - if component == :coupon
              %p.font-16= current_order.decorate.discount_title
            - else
              %p.font-16= t("corzinus.carts.#{component}") + ':'
          %td
            %p.font-16{ id: "order_#{component}" }
              = currency_price(order.send("#{component}_cost"))

      %tr
        %td
          %strong.font-18= "#{t('corzinus.carts.order_total')}:"
        %td
          %strong#order_subtotal.font-18
            = currency_price(order.total_price)
