%main.container.corzinus-main-wrap
  %h1.corzinus-title-margin= t('corzinus.inventory.title', id: @inventory.id)
  %h3.corzinus-title-margin= @inventory.productable.title

  = link_to t('corzinus.inventory.to_all'), inventories_path,
    class: 'center button btn btn-default mb-20'

  .row.mb-20
    .col-md-6
      %table.table
        %thead
          %tr
            %th= t('corzinus.inventory.supply.created_at')
            %th= t('corzinus.inventory.supply.arrived_at')
            %th= t('corzinus.inventory.supply.size')
        %tbody
          - @inventory.supplies.each do |supply|
            %tr
              %td= supply.decorate.created_strftime
              %td= supply.decorate.arrived_strftime
              %td= supply.size

      = link_to t('corzinus.inventory.to_sales'), inventory_sales_path(@inventory.id),
        class: 'center button btn btn-default mb-20'

    .col-md-6
      %h3= t('corzinus.inventory.start_stock')
      = area_chart sale_chart(@inventory, :start_stock)

      %h3= t('corzinus.inventory.sent_supply')
      = line_chart sale_chart(@inventory, :supply_size)

      %h3= t('corzinus.inventory.demand')
      = area_chart sale_chart(@inventory, :demand)
